<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <div class="bg-blue-500 px-6 py-4">
    <h2 class="text-white text-3xl font-bold">Forgot your password?</h2>
  </div>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "px-6 py-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Send me reset password instructions", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

  <div class="px-6 py-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
