<div id="<%= dom_id report %>" class="bg-white shadow-md rounded-lg overflow-hidden m-2">
  <p class="px-4 py-4">
    <strong class="text-gray-800">Date:</strong>
    <%= report.date %>
  </p>

  <p class="px-4 py-4">
    <strong class="text-gray-800">Members On Duty:</strong>
    <%= report.members_on_duty %>
  </p>

  <p class="px-4 py-4">
    <strong class="text-gray-800">Observation:</strong>
    <%= report.observation %>
  </p>

 <p class="px-4 py-4">
  <strong class="text-gray-800">Status:</strong>
  <%= report.status.present? ? report.status.humanize : 'Unknown' %>
</p>

  <p class="px-4 py-4">
    <strong class="text-gray-800">Recommendation:</strong>
    <%= report.recommendation %>
  </p>

  <p class="px-4 py-4">
    <strong class="text-gray-800">Action plan:</strong>
    <%= report.action_plan %>
  </p>

  <p class="px-4 py-4">
    <strong class="text-gray-800">Group:</strong>
    <%= report.group %>
  </p>
  
  <p class="px-4 py-4">
    <strong class="text-gray-800">Attendance:</strong>
    <%= report.attendance %>
  </p>
</div>
