<div id="<%= dom_id report %>">
  <p>
    <strong>Date:</strong>
    <%= report.date %>
  </p>

  <p>
    <strong>Members On Duty:</strong>
    <%= report.members_on_duty %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= report.observation %>
  </p>

  <p>
    <strong>Risk level:</strong>
    <%= report.risk_level %>
  </p>

  <p>
    <strong>Recommendation:</strong>
    <%= report.recommendation %>
  </p>

  <p>
    <strong>Action plan:</strong>
    <%= report.action_plan %>
  </p>

  <p>
    <strong>Timelines:</strong>
    <%= report.timelines %>
  </p>

</div>
